{% extends 'AppBundle::layout.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Page d'accueil du blog</h1>
        <p>
            Bienvenue sur la page d'accueil de la partie "blog". Ci-dessous, vous trouverez un liste de tous les articles écrits.
        </p>
        <div class="blue-grey darken-2" style="padding:10px;">
            {{ render(controller("AppBundle:Blog:menu", {'limit': 40})) }}
        </div>
    </div>

{% endblock %}