{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container" style="text-align: justify">
        <ul style="margin-top: 5em;">
            {% for realisation in realisation %}
                    <li>
                        <div style="margin-bottom: 5em;">
                            <h5 class="red-text text-darken-3">{{ realisation.name }}</h5>
                            <span class="blue-text">{{ realisation.annee }}</span><br>
                            <span class="blue-text" style="font-size: large"><u>{{ realisation.langage }}</u></span><br>
                            <em>{{ realisation.description }}</em><br>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}